{% extends 'base.html' %}
{%load static%}
{% block title %} My Home Page {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <br>
    <h1>Home Page</h1>
    <p>Ini adalah Halaman Home </p>
    {{namer}}
    <div class="card" style="width: 18rem;">
      <img src="{%static 'images/pesawat.jpg'%}" class="card-img-top" alt="About">
      <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">About Me</p>
        <a href="{%url 'about'%}" class="btn btn-primary">About Page</a>
      </div>
    </div>
</body>
</html>
{% endblock %}